*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial;
}

:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 20%);
}

body.correct {
    --hue: var(--hue-correct);
}

body.wrong {
    --hue: var(--hue-wrong);
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}

.btn:hover {
    border-color: black;
}

.btn.correct {
    --hue: var(--hue-correct);
}

.btn.wrong {
    --hue: var(--hue-wrong);
}

.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.quiz-over {
    text-align: center
}


/* Style the header*/
.header {
  background-color: #ffffff;
  padding: 1px;
  text-align: center;
}

* {
  box-sizing: border-box;
}
 

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: fixed; /*this sets the navbar to a fixed position*/
  top: 0; /*Position of the navbar is at the top*/
  width:100%; /*Full width*/
  height: 12%;
}

/* Style the topnav links */
.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 16px;
  font-size: 36px;
  font-family: "Arial", Helvetica, sans-serif;
  text-decoration: none;
}

.img a {

    margin: 15px;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #CE1126;
  color: Red transparency;
}

.footer {
    background-color: #f1f1f1;
    padding: 50px;
    text-align: center;
    font-family: "Arial", Helvetica, sans-serif;
}




